<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sunsensor_pose_estimation)/worlds/contain_example.world"/>
    <arg name="verbose" value="true"/>
    <!-- more default parameters can be changed here -->
  </include>
  <node pkg="sunsensor_pose_estimation" type="sunsensor_pose_estimation_spice_pub" name="spice_pub"/>
  <node pkg="sunsensor_pose_estimation" type="sunsensor_pose_estimation_sunsensor" name="sunsensor"/>
  <node pkg="sunsensor_pose_estimation" type="sunsensor_pose_estimation_pose_est" name="pose_est"/>
</launch>

